<html>
    <body>
        <h1>Спасибо за заказ!</h1>
        <p>Мы уже обрабатываем его! Его номер:
            <strong>{{ order.id }}</strong>.</p>
        <p>Вы будете перенаправлены на главную страницу через 10 секунд.
            <p>Сумма вашего заказа: {{ sum }}</p>
            <h1>|ОПЛАТА ЗАКАЗА С ВЫВОДОМ ИТОГОВОЙ СУММЫ ЗАКАЗА|</h1>
        </body>
</html>

<script>
    // Добавить визуальный таймер !!!!
    setTimeout(function(){
         window.location.href = '{% url "pages:main" %}';
      }, 10000);
</script>
