<!DOCTYPE html>
<html>
    <head>
        <meta refresh="2; {% url 'pages:profile' %}">
    </head>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p> {{ error }} </p>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <script>
    setTimeout(function() {
        $.get("{% url 'pages:profile' %}") 
    }, 2000);
   </script>
    

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Внесите новые данные:</h1>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Сохранить" onclick=""></p>
    </form>
</html>


