<!DOCTYPE html>
<html>
    <body> 
        <h1>{{ product.name }}  </h1>

        <h3>Описание: {{ product.short_description }} </h3> 
        <h3>Цена: {{ product.price }} рублей </h3> 

        <!-- Форма добавления товара в корзину -->
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="В корзину">
        </form>
        <!--------------------------------------->
        
        <hr>
        <p1>Здравствуйте, </p1>
        <a href="{% url 'users:profile' %}"><b>{{ user.username|default:'Guest' }}</b></a>
        <hr>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><li>Выйти</li></a>
        {% else %}
            <a href="{% url 'login' %}"><li>Войти</li></a>
            <a href="{% url 'users:register' %}"><li>Регистрация</li></a>
        {% endif %}
        <a href="{% url 'users:profile' %}"><li>Личный кабинет</li></a>
        <a href="{% url 'pages:promocode' %}"><li>Оформление промокода</li></a>
        <a href="{% url 'cart:cart_detail' %}"><li>Корзина</li></a>


    </body>
</html>