<!DOCTYPE html>
<html>
    <body> 
        {% if user.is_authenticated %}

        {% else %}
            <h1> <a href="{% url 'login' %}">Войдите</a> или <a href="{% url 'users:register' %}">зарегестрируйтесь</a>, чтобы оформить промокод.</h1>
        {% endif %}

        {% if promo_already_exists %}
            <h2> У вас уже есть промокод. Найдете его в <a href="{% url 'pages:profile' %}">личном кабинете</a>! </h2>
        {% else %}
            <h1> Оформление промокода для пользователя "{{ user }}" </h1>
            <hr>
            <h2> Нажимаю кнопку "Оформить" Я подтверждаю, что ознакомился с пользовательским соглашением и даю согласие на обработку своих персональных данных.</h2>
            <form method="post" >
                {% csrf_token %}
                <button type="submit" name="makepromo" value="yes">Оформить</button>
            </form>
        {% endif %}

        
        <hr>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><li>Выйти</li></a>
        {% else %}
            <a href="{% url 'login' %}"><li>Войти</li></a>
            <a href="{% url 'users:register' %}"><li>Регистрация</li></a>
        {% endif %}
        <a href="{% url 'pages:profile' %}"><li>Личный кабинет</li></a>
    </body>
</html>